body{
  text-align:right;
}

#container{
  background-color:#ccffff;color:  background-color:#ccffff;color:;
  margin:100px;padding:100px;border-radius:1px;  
}
  
  #flashcard input[type=button]{
    background-color:pink;
      padding:25px;
     font-size:59px;
   
}


#gallery input[type=button]{
    background-color:pink;
    font-weight:bolder
    padding:20px;
    margin:4px;
    font-size:15px;
}
.box{
  border-style:solid;
  float:right;
  text-align:center;
  line-height:100px;
  vertical-align:middle;
  height:99px;
  width:99px;
  background-color:white;
  
}

#board{
  margin-left:auto;
  width:350px;
  height:350px;
}